<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Login Landing</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Login de Usuario</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="nombre">Ingrese su Nombre</label>
                <input type="text" name="nombre" required>
            </div>
            <input class="btn btn-success mt-3" type="submit" value="Ingresar">
        </form>
    </div>
</body>
</html>